#img {
  width: 115px;
  height: 115px;
  position: absolute;
  top: -35px;
}

.grass {
  background-color: green;
}

.dark {
  background-color: black;
  color: white;
}

.fire {
  background-color: orangered;
}
